<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let todo of todos">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{todo.title}}</h5>
          <p class="card-text">{{todo.description}}</p>
          <p class="card-text">Status : {{todo.status}}</p>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
       <!-- <div class="card-footer text-muted">
          {{todo.date | date:'shortDate'}}
        </div>-->
      </div>
    </div>
  </div>